%h2= @author.name

.row
  .col-md-4
    %h4 Biography
    %p= @author.bio

  .col-md-8
    %h4 Reviews
    - if @reviews.size > 0
      = render "reviews/list", reviews: @reviews
    - else
      %p
        %em No reviews yet.

    %br
    - if current_user
      = link_to 'New Review', new_author_review_path(@author), class: "btn btn-primary"
    = link_to 'See All Reviews', author_reviews_path(@author), class: "btn btn-link"

%h4 Books

- if @books.size > 0
  = render "books/list"
- else
  %p
    %em This author doesn't have any books yet.

- if is_user_admin?
  = link_to 'Edit', edit_author_path(@author)
  \|
= link_to 'Back', authors_path
