.row
  .col-md-4
    = form_for @book, multipart: true do |f|
      - if @book.errors.any?
        #error_explanation
          %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
          %ul
            - @book.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :title
        = f.text_field :title, class: "form-control"
      .field
        = f.label :author
        = f.collection_select :author_id, Author.all, :id, :name, {}, class: "form-control"
      .field
        = f.label :isbn
        = f.number_field :isbn, class: "form-control"
      .field
        = f.label :page_count
        = f.number_field :page_count, class: "form-control"
      .field
        = f.label :summary
        = f.text_area :summary, class: "form-control"
      .field
        = f.label :genre_list, "Genres (separarted by comma)"
        = f.text_area :genre_list, class: "form-control"

      .field
        = f.label :cover
        = f.file_field :cover

      .actions
        = f.submit 'Save', class: "btn btn-primary"
        = link_to 'Back', root_path, class: "btn btn-link"
